@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.title-qvest{
    color: white;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 2px;
    text-align: center;
    background-image: url("../img/qvestubg.png");
    min-height: 87px;
    background-repeat: no-repeat;
    background-position: center;
}

.item-select{
    *{
        position: relative;
        z-index: 2;
    }
    min-height: 252px;
    background-size: cover;
    position: relative;
    margin: 0 8px 38px 7px;
    &:after{
        position: absolute;
        width: 100%;
        display: block;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        content: '';
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
        transition: 0.2s all;
    }
    &:hover:after{
        opacity: 1;
        visibility: visible;

    }
    span{
        font-size: 18px;
    }
    h3{
        color: white;
        font-family: Gilroy;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 19px 0 0 18px;
    }
    h2{
        color: #61b27c;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 8px 0 0 20px;
    }
    p{
        color: white;
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 500;
        padding: 44px 0 0 21px;
        max-width: 245px;
        line-height: 21px;
    }
}
.item-select__players{
    position: absolute;
    right: 16px;
    top:13px;
    background-image: url("../img/items.png");
    width: 56px;
    height: 55px;
    padding: 28px 0 0 0;
    text-align: center;
    color: white;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 700;

}
.item-select .item-select_button{
    $item-select_button: 2.4%;
    width: 100% - $item-select_button*2;
    margin: 0 $item-select_button;
    position: absolute;
    bottom: 18px;
}
.qvest-items{
    margin-top: 34px;
}
.gamburger{
    display: none;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 47px;
    span{
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 4px;
        background: #FFFFFF;
    }
}


@media only screen and (max-width : 991px) {
    .gamburger {
        display: block;
        span {
            transition: .4s all;
        }
        &.active {

            span:first-child {
                transform: rotate(45deg) translateX(6px) translateY(6px);
            }
            span:nth-child(2) {
                transform: rotate(-45deg) translateX(-1px) translateY(0px);
            }
            span:last-child {
                opacity: 0;
            }
        }
    }
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";