@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.title-qvest{
    color: white;
    font-family: Gilroy;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 2px;
    text-align: center;
    background-image: url("../img/qvestubg.png");
    min-height: 87px;
    background-repeat: no-repeat;
    background-position: center;
}

.item-select{
    min-width: 577px;
    min-height: 252px;
    background-size: cover;
    position: relative;
    margin: 0 46px 38px 0px;
    h3{
        color: white;
        font-family: Gilroy;
        font-size: 30px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 19px 0 0 18px;
    }
    h2{
        color: #61b27c;
        font-family: Gilroy;
        font-size: 18px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        padding: 8px 0 0 20px;
    }
    p{
        color: white;
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        font-weight: 500;
        padding: 44px 0 0 21px;
    }
}
.item-select__players{
    position: absolute;
    right: 16px;
    top:13px;
    background-image: url("../img/items.png");
    width: 56px;
    height: 55px;
    padding: 28px 0 0 0;
    text-align: center;
    color: white;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    font-weight: 700;

}
.item-select .item-select_button{
    $item-select_button: 2.4%;
    width: 100% - $item-select_button*2;
    margin: 0 $item-select_button;
    position: absolute;
    bottom: 18px;
}
.qvest-items{
    margin-top: 52px;
}

//ALWAYS END
@import "media.scss";
@import "sketches.scss";