@import "bourbon";
@import "vars.scss";

*::-webkit-input-placeholder{
    color: #666;
    opacity: 1;
}

*:-moz-placeholder{
    color: #666;
    opacity: 1;
}

*::-moz-placeholder{
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder{
    color: #666;
    opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid{
    color: #666;
}

body input:required:valid,
body textarea:required:valid{
    color: #666;
}

//Custom Styles Here

.title-qvest{
    color: white;
    font-family: Gilroybold;
    font-size: 36px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 33px;
    letter-spacing: 2px;
    text-align: center;
    background-image: url("../img/qvestubg.png");
    min-height: 87px;
    background-repeat: no-repeat;
    background-position: center;

}
.title-qvest.title-qvest_size{
  font-size: 36px;
}
.item-select{
    *{
        position: relative;
        z-index: 2;
    }
    padding: 0 26px;
    min-height: 252px;
    background-size: cover;
    position: relative;
    margin: 0 8px 38px 7px;

    span{
        font-size: 18px;
    }
    h3{
        color: white;
        font-family: Gilroybold;
        font-size: 30px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 18px 0 0 0px;
    }
    h2{
        color: #61b27c;
        font-family: Gilroybold;
        font-size: 18px;
        line-height: 24px;
        text-transform: uppercase;
        padding: 6px 0 0 0px;
    }
    p{
        color: white;
        font-family: HelveticaNeueCyr;
        font-size: 18px;
        padding: 27px 0 0 0px;
        max-width: 250px;
        line-height: 21px;
        min-height: 111px;
    }
}
.item-select__players{
    position: absolute;
    right: 16px;
    top:13px;
    background-image: url("../img/items.png");
    width: 56px;
    height: 55px;
    padding: 28px 0 0 0;
    text-align: center;
    color: white;
    font-family: HelveticaNeueCyrbold;
    font-size: 18px;


}
.item-select .item-select_button{
    width: 100%;
    position: absolute;
    top: 4px;
    text-decoration: none;
    text-align: center;
    &:hover,&:focus{
      color: #fff;
    }
}
.qvest-items{
    margin-top: 34px;
}
.gamburger{
    display: none;
    width: 25px;
    position: absolute;
    right: 15px;
    top: 47px;
    span{
        display: block;
        width: 100%;
        height: 4px;
        margin-bottom: 4px;
        background: #000;
    }
}
.footer{
  background-image: url("../img/footer.png");
  background-size: cover;
  min-height: 279px;
  margin-top: 90px;
  padding-top: 20px;
  p{
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    line-height: 23px;
    font-family: Gilroybold;
  }
}
.footer-left{
  position: relative;
  margin-top: 88px;
  margin-left: 44px;
}
.footer-mid{
  position: relative;
  margin-top: 47px;
  left: auto;
  text-align: center;
  padding-bottom: 15px;

}
.social_footer{
  position: relative;
  top: 7px;
  right: auto;
  text-align: center;
  li{
    float: none;
    display: inline-block;
    margin: 0 5.5px;
  }
  a{
    background-image: url(../img/footer_socila.png);
  }
}
.footer-right{
  position: relative;
  margin-top: 91px;
  margin-bottom: 5px;
  right: 29px;
  text-align: right;
  h3{
    color: white;
    font-family: Gilroybold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
  }
  h2{
    color: white;
    font-family: Gilroybold;
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase;
  }
}


////TAXI NEW HTML/
.bg-h1.bg-h1_size{
  h1{
    font-size: 46px;
    padding-top: 15px;
  }
}
.form-text.form-text_hide p{
  margin-top: 11px;
  font-size: 20px;
  &:after{
    display: none;
  }
}
header.taxi-bg{
  background-image: url("../img/bg-taxi.png");
  min-height: 525px;
  background-repeat: no-repeat;
}
.taxi-select{
  position: relative;
  img{
    float: left;
  }
  p{
    color: #020202;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
  }
}
.sircle{
  background-color: #00b37a;
  width: 51px;
  height: 51px;
  border-radius: 35px;
  text-align: center;
  color: #fff;
  color: white;
  font-family: Gilroybold;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 10px;



}
.howit__item{
  margin-bottom: 70px;
  div,p{
    display: inline-block;
    vertical-align: middle;
  }
  p{
    max-width: 318px;
    color: #020202;
    font-family: HelveticaNeueCyr;
    font-size: 20px;
  }
  ul{
    position: absolute;
    top: 150px;
    left: 220px;
  }
  li{
    float: left;
    margin-right: 4px;
  }
  a{
    text-decoration: none;
    color: white;
    background-color: #010101;
    font-family: Gilroybold;
    font-size: 15px;
    line-height: 35px;
    text-transform: uppercase;
    min-width: 121px;
    min-height:35px;
    display: block;
    border-radius: 7px;
    text-align: center;
    padding-left: 10px;
    &:hover{
      background-color: #00b37a;
    }

  }
  h3{
    position: absolute;
    top:145px;
    right: 80px;
    color: white;
    font-family: HelveticaNeueCyr;
    font-size: 24px;
    font-weight: 700;
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    padding: 20px 64px 20px 77px;
    line-height: 5px;
  }
}
.apple{
  background-image: url("../img/apple.png");
  background-repeat: no-repeat;
  background-position: 8px 4px;
}
.android{
  background-image: url("../img/android.png");
  background-repeat: no-repeat;
  background-position: 8px 4px;
}
.windows{
  background-image: url("../img/windows.png");
  background-repeat: no-repeat;
  background-position: 8px 6px;
}
//ALWAYS END
@import "media.scss";
@import "sketches.scss";