body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.6;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
  background-color: #fff;
  max-width: 1915px;
  margin: 0 auto; }

a, button, input, textarea {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease;
  transition: color 0.4s ease, background-color 0.4s ease, border-color 0.4s ease; }
  a:focus, button:focus, input:focus, textarea:focus {
    outline: 0;
    border: 0; }

button:hover {
  cursor: pointer; }

.hidden {
  display: none; }

.wrapper {
  width: 960px;
  margin: 0 auto;
  overflow: hidden; }

header {
  background-image: url("../img/headerbg.png");
  min-height: 728px;
  background-position: center 18px; }

.header-top {
  background-image: url("../img/head_line.png");
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  background-repeat: no-repeat;
  background-position: 60% -24px;
  min-height: 130px;
  z-index: 2; }

.city {
  padding-left: 15px;
  padding-top: 8px;
  position: absolute;
  top: 22px;
  left: 0.7%;
  cursor: pointer;
  min-width: 158px;
  min-height: 57px; }
  .city:hover {
    background-image: url("../img/citybg.png");
    background-repeat: no-repeat;
    background-position: 0 0px;
    color: #fff; }
  .city .city-menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 76px;
    left: 7px; }
    .city .city-menu a {
      color: #fffefe;
      font-family: Gilroybold;
      font-size: 18px;
      line-height: 24px;
      border-bottom: 2px solid #00b37a;
      display: block;
      padding-top: 10px;
      padding-bottom: 2px; }
  .city .clicked + .city-menu {
    visibility: visible;
    opacity: 1; }
  .city p {
    font-family: Gilroybold;
    line-height: 24px;
    font-size: 16px;
    display: block; }
    .city p:hover {
      color: #fff;
      display: block; }
  .city h2 {
    font-size: 24px;
    font-family: Gilroybold;
    text-transform: uppercase;
    line-height: 17px; }
    .city h2:hover {
      color: #fff;
      display: block; }

.logo {
  padding-top: 29px;
  max-width: 197px; }

.top-menu ul {
  float: right; }

.top-menu a {
  color: #212121;
  font-family: Gilroybold;
  font-size: 16px;
  text-transform: uppercase; }
  .top-menu a:hover {
    text-decoration: none; }

.top-menu li {
  float: left;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 14px; }

.social {
  position: absolute;
  right: 3.8%;
  top: 19px; }

.social ul {
  padding-top: 20px; }

.social a {
  display: block;
  width: 39px;
  height: 38px;
  background-image: url("../img/social.png"); }

.social li {
  float: left;
  margin-right: 11px; }

.bg-position_2 {
  background-position: -50px 0; }

.bg-position_3 {
  background-position: 39px 0; }

.top-form {
  max-width: 721px;
  margin: 0 auto;
  text-align: center;
  margin-top: 239px; }

.bg-h1 {
  background-image: url("../img/bg_h.png");
  background-repeat: no-repeat;
  max-height: 104px; }

.bg-h1 h1 {
  color: white;
  font-family: Gilroybold;
  font-size: 72px;
  text-transform: uppercase;
  margin: 0px; }

.form-text p {
  color: white;
  font-family: Gilroybold;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle; }
  .form-text p:first-child:after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #61b27c;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 13px; }

.forma {
  margin-top: 28px;
  max-width: 604px;
  margin: 0 auto;
  position: relative; }

.green-form {
  background-color: #00b37a;
  max-height: 114px;
  width: 158px;
  position: absolute;
  left: 0;
  top: 0; }
  .green-form:after {
    content: '';
    display: block;
    background-image: url(../img/greenline.png);
    width: 6px;
    height: 81px;
    position: absolute;
    right: -6px;
    top: 50%;
    margin-top: -40.5px; }
  .green-form.forma_games {
    left: -38px;
    top: 0px;
    width: 164px;
    text-align: right;
    min-height: 80px; }
    .green-form.forma_games p {
      border-bottom: none;
      text-align: right;
      padding: 15px 0px 0px 68px; }
    .green-form.forma_games h3 {
      padding: 3px 9px 0 0px; }

.green-form p {
  color: white;
  font-family: Gilroybold;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: right;
  border-bottom: 1px solid #fff;
  padding: 16px 0px 9px 0px;
  margin: 0 16px 0 9px; }

.green-form h3 {
  color: white;
  font-family: Gilroybold;
  font-size: 30px;
  line-height: 33px;
  text-transform: uppercase;
  padding: 11px 9px 13px 6px; }

.form-opacity {
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  max-height: 114px;
  padding-left: 169px;
  padding-right: 12px;
  margin-top: 22px; }
  .form-opacity input {
    color: #4f4f4f;
    font-family: HelveticaNeueCyr;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 0px 2px 38px;
    margin: 15px 0px 15px 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: white;
    background-position: 5px center;
    background-repeat: no-repeat;
    max-width: 202px; }
    .form-opacity input[name="name"] {
      background-image: url("../img/name.png");
      margin-right: 12px; }
    .form-opacity input[name="phone"] {
      background-image: url("../img/phone.png"); }
  .form-opacity button {
    margin-bottom: 16px;
    margin-left: 0px; }
  .form-opacity.form_gray {
    padding-left: 137px;
    border: none;
    margin-top: 39px;
    padding-right: 0px; }
    .form-opacity.form_gray input {
      background-color: #e9e9e9;
      margin-top: 0;
      max-width: 224px; }
      .form-opacity.form_gray input[name="name"] {
        margin-right: 15px; }

.taxi-button {
  position: absolute;
  top: 127px;
  right: 2.3%;
  background-image: url("../img/taxibg.png");
  background-repeat: no-repeat;
  min-height: 65px;
  min-width: 194px;
  color: #202427;
  font-family: Gilroybold;
  font-size: 16px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  padding-left: 16px;
  padding-top: 22px;
  display: block; }
  .taxi-button:hover {
    background-image: url("../img/taxibghover.png");
    color: white;
    cursor: pointer;
    text-decoration: none; }
