*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

.title-qvest {
  color: white;
  font-family: Gilroybold;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 33px;
  letter-spacing: 2px;
  text-align: center;
  background-image: url("../img/qvestubg.png");
  min-height: 87px;
  background-repeat: no-repeat;
  background-position: center; }

.title-qvest.title-qvest_size {
  font-size: 36px; }

.item-select {
  padding: 0 26px;
  min-height: 252px;
  background-size: cover;
  position: relative;
  margin: 0 8px 38px 7px; }
  .item-select * {
    position: relative;
    z-index: 2; }
  .item-select span {
    font-size: 18px; }
  .item-select h3 {
    color: white;
    font-family: Gilroybold;
    font-size: 30px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 18px 0 0 0px; }
  .item-select h2 {
    color: #61b27c;
    font-family: Gilroybold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    padding: 6px 0 0 0px; }
  .item-select p {
    color: white;
    font-family: HelveticaNeueCyr;
    font-size: 18px;
    padding: 27px 0 0 0px;
    max-width: 250px;
    line-height: 21px;
    min-height: 111px; }

.item-select__players {
  position: absolute;
  right: 16px;
  top: 13px;
  background-image: url("../img/items.png");
  width: 56px;
  height: 55px;
  padding: 28px 0 0 0;
  text-align: center;
  color: white;
  font-family: HelveticaNeueCyrbold;
  font-size: 18px; }

.item-select .item-select_button {
  width: 100%;
  position: absolute;
  top: 4px;
  text-decoration: none;
  text-align: center; }
  .item-select .item-select_button:hover, .item-select .item-select_button:focus {
    color: #fff; }

.qvest-items {
  margin-top: 34px; }

.gamburger {
  display: none;
  width: 25px;
  position: absolute;
  right: 15px;
  top: 47px; }
  .gamburger span {
    display: block;
    width: 100%;
    height: 4px;
    margin-bottom: 4px;
    background: #000; }

.footer {
  background-image: url("../img/footer.png");
  background-size: cover;
  min-height: 279px;
  margin-top: 90px;
  padding-top: 20px; }
  .footer p {
    text-transform: uppercase;
    font-size: 17px;
    color: #fff;
    line-height: 23px;
    font-family: Gilroybold; }

.footer-left {
  position: relative;
  margin-top: 88px;
  margin-left: 44px; }

.footer-mid {
  position: relative;
  margin-top: 47px;
  left: auto;
  text-align: center;
  padding-bottom: 15px; }

.social_footer {
  position: relative;
  top: 7px;
  right: auto;
  text-align: center; }
  .social_footer li {
    float: none;
    display: inline-block;
    margin: 0 5.5px; }
  .social_footer a {
    background-image: url(../img/footer_socila.png); }

.footer-right {
  position: relative;
  margin-top: 91px;
  margin-bottom: 5px;
  right: 29px;
  text-align: right; }
  .footer-right h3 {
    color: white;
    font-family: Gilroybold;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase; }
  .footer-right h2 {
    color: white;
    font-family: Gilroybold;
    font-size: 30px;
    line-height: 33px;
    text-transform: uppercase; }

.bg-h1.bg-h1_size h1 {
  font-size: 46px;
  padding-top: 15px; }

.form-text.form-text_hide p {
  margin-top: 11px;
  font-size: 20px; }
  .form-text.form-text_hide p:after {
    display: none; }

header.taxi-bg {
  background-image: url("../img/bg-taxi.png");
  min-height: 525px;
  background-repeat: no-repeat; }

.taxi-select {
  position: relative; }
  .taxi-select img {
    float: left; }
  .taxi-select p {
    color: #020202;
    font-family: HelveticaNeueCyr;
    font-size: 20px; }

.sircle {
  background-color: #00b37a;
  width: 51px;
  height: 51px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  text-align: center;
  color: #fff;
  color: white;
  font-family: Gilroybold;
  font-size: 41px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: 12px;
  margin-right: 10px; }

.howit__item {
  margin-bottom: 70px; }
  .howit__item div, .howit__item p {
    display: inline-block;
    vertical-align: middle; }
  .howit__item p {
    max-width: 318px;
    color: #020202;
    font-family: HelveticaNeueCyr;
    font-size: 20px; }
  .howit__item ul {
    position: absolute;
    top: 150px;
    left: 220px; }
  .howit__item li {
    float: left;
    margin-right: 4px; }
  .howit__item a {
    text-decoration: none;
    color: white;
    background-color: #010101;
    font-family: Gilroybold;
    font-size: 15px;
    line-height: 35px;
    text-transform: uppercase;
    min-width: 121px;
    min-height: 35px;
    display: block;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    text-align: center;
    padding-left: 10px; }
    .howit__item a:hover {
      background-color: #00b37a; }
  .howit__item h3 {
    position: absolute;
    top: 145px;
    right: 80px;
    color: white;
    font-family: HelveticaNeueCyr;
    font-size: 24px;
    font-weight: 700;
    background-image: url(../img/code.png);
    background-repeat: no-repeat;
    padding: 20px 64px 20px 77px;
    line-height: 5px; }

.apple {
  background-image: url("../img/apple.png");
  background-repeat: no-repeat;
  background-position: 8px 4px; }

.android {
  background-image: url("../img/android.png");
  background-repeat: no-repeat;
  background-position: 8px 4px; }

.windows {
  background-image: url("../img/windows.png");
  background-repeat: no-repeat;
  background-position: 8px 6px; }

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1700px) {
  .social {
    right: 0%; } }

@media only screen and (max-width: 1620px) {
  .top-menu ul {
    float: left; }
  .logo {
    max-width: unset;
    padding: 26px 15px; } }

@media only screen and (max-width: 1540px) {
  .logo {
    padding: 26px 50px; } }

@media only screen and (max-width: 1440px) {
  .logo {
    padding-top: 26px; }
    .logo a {
      padding-left: 40px; } }

@media only screen and (max-width: 1387px) {
  .city {
    top: 15px;
    left: 8.3%; }
  .city .city-menu a {
    margin-bottom: 5px; } }

@media only screen and (max-width: 1366px) {
  .city {
    top: 110px;
    color: #fff;
    left: 10.3%; }
    .city:hover {
      background-image: url("../img/citybg1.png");
      color: #000a00; }
      .city:hover p {
        color: #000a00; }
      .city:hover h2 {
        color: #000a00; }
  .taxi-button {
    right: 0.2%; } }

@media only screen and (max-width: 1277px) {
  .city {
    left: 8.3%; } }

@media only screen and (max-width: 1250px) {
  .city {
    left: 7.3%; } }

@media only screen and (max-width: 1221px) {
  .top-menu a {
    font-size: 15px; } }

@media only screen and (max-width: 1200px) {
  .qvest-items__width {
    max-width: 600px;
    margin: 0 auto; }
  .top-menu a {
    font-size: 13px; } }

@media only screen and (max-width: 1088px) {
  .city {
    left: 4.3%; } }

@media only screen and (max-width: 1166px) {
  .top-menu a {
    font-size: 13px; } }

@media only screen and (max-width: 1086px) {
  .top-menu li a {
    font-size: 11px; }
  .logo {
    padding: 26px 00px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .top-menu a {
    font-size: 11px; }
  .wrapper {
    width: auto; }
  .pad {
    padding: 50px 5px !important; }
  footer {
    text-align: center; }
    footer .wrapper {
      width: auto; }
    footer ul {
      float: none;
      display: inline-block;
      text-align: center; }
      footer ul li {
        margin-bottom: 10px;
        margin-right: 0;
        float: none; }
    footer .gs {
      float: none;
      display: block; }
  .top-menu {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    position: absolute;
    top: 91px;
    right: 0;
    background: #fff;
    z-index: 2;
    -webkit-transition: .2s all;
    transition: .2s all; }
    .top-menu li {
      padding: 10px  10px; }
    .top-menu.active {
      visibility: visible;
      opacity: 1;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .gamburger {
    display: block;
    position: absolute;
    right: 20%; }
    .gamburger span {
      -webkit-transition: .4s all;
      transition: .4s all; }
    .gamburger.active span:first-child {
      -webkit-transform: rotate(45deg) translateX(6px) translateY(6px);
      -ms-transform: rotate(45deg) translateX(6px) translateY(6px);
      transform: rotate(45deg) translateX(6px) translateY(6px); }
    .gamburger.active span:nth-child(2) {
      -webkit-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      -ms-transform: rotate(-45deg) translateX(-1px) translateY(0px);
      transform: rotate(-45deg) translateX(-1px) translateY(0px); }
    .gamburger.active span:last-child {
      opacity: 0; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 900px) {
  .city {
    left: 4.3%; } }

@media only screen and (max-width: 850px) {
  .city {
    left: 4.3%; } }

@media only screen and (max-width: 768px) {
  .city {
    left: 6.3%; }
  .gamburger {
    right: 45%; }
  .green-form {
    max-height: 114px;
    width: 300px;
    position: relative;
    margin: 15px auto; }
  .form-opacity {
    border: 3px solid #fff;
    max-height: 112px;
    margin-top: 22px;
    padding: 0;
    text-align: center; }
  .form-opacity .button-green {
    width: 50%;
    min-width: 202px;
    margin: auto; }
  .form-opacity button {
    margin: 4px auto; }
  .bg-h1 h1 {
    font-size: 50px; }
  .form-text p {
    font-size: 20px; }
  .form-opacity.form_gray {
    padding: 0; }
  .form-opacity.form_gray input[name="name"] {
    margin: 15px 0px; }
  .green-form.forma_games {
    width: 220px;
    text-align: right;
    min-height: 81px;
    left: auto; }
  .footer {
    background-size: cover; } }

@media only screen and (max-width: 767px) {
  .footer-right {
    position: absolute;
    top: 0px;
    right: 15px; } }

@media only screen and (max-width: 1086px) {
  .bg-h1.bg-h1_size h1 {
    font-size: 29px; } }

@media only screen and (max-width: 882px) {
  .footer-left p {
    font-size: 13px; }
  .footer-right h3 {
    font-size: 13px; }
  .footer-right h2 {
    font-size: 25px; } }

@media only screen and (max-width: 747px) {
  .bg-h1 {
    background-size: 95%; } }

@media only screen and (max-width: 701px) {
  .gamburger {
    right: 65%; } }

@media only screen and (max-width: 617px) {
  .howit__item ul {
    position: relative;
    top: 30px;
    left: 0px; }
  .howit__item h3 {
    position: relative;
    top: 0px;
    left: 0px; } }

@media only screen and (max-width: 600px) {
  .bg-h1 {
    background-size: 103%; } }

@media only screen and (max-width: 550px) {
  .gamburger {
    right: 10%; }
  .social {
    visibility: hidden; }
    .social.social_footer {
      visibility: visible; }
  .white-popup .mfp-close {
    right: 0;
    top: -45px; }
  .form-text p {
    font-size: 17px; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .form-text p {
    font-size: 15px; }
  .bg-h1.bg-h1_size h1 {
    font-size: 19px; }
  .form-text.form-text_hide p {
    font-size: 17px; }
  .pad {
    padding: 20px 5px !important; }
  .green-form {
    margin: 15px 65px; }
  .form-opacity input[name="name"] {
    margin: 6px 1px; }
  .form-opacity {
    max-height: 175px;
    padding: 20px; }
  .popup_fix {
    min-height: 400px; }
  .bg-h1 h1 {
    font-size: 40px; }
  .form-opacity button {
    margin: 7px 77px; }
  .green-form {
    width: 215px;
    margin: 15px 90px; }
  .green-form.forma_games {
    margin: 15px auto; }
  .title-qvest {
    background-size: 100%; }
    .title-qvest h2 {
      font-size: 26px; }
  .button-green.button-green_width {
    min-width: 224px; } }

@media only screen and (max-width: 430px) {
  .form-text p {
    font-size: 11px; } }

@media only screen and (max-width: 421px) {
  .footer-left {
    margin-left: 0px; }
    .footer-left p {
      font-size: 15px; }
  .footer-right {
    right: 0px; } }

@media only screen and (max-width: 414px) {
  .green-form {
    width: 215px;
    margin: 15px auto; }
  .form-opacity button {
    margin: 7px auto; }
  .green-form.forma_games {
    margin: 15px auto; }
  .item-select {
    padding-bottom: 20px; }
    .item-select span {
      display: block; }
    .item-select h3 {
      font-size: 25px; }
    .item-select h2 {
      font-size: 16px; }
    .item-select .item-select_button {
      font-size: 14px;
      position: relative; } }

@media only screen and (max-width: 405px) {
  .howit__item li {
    margin-bottom: 5px; } }

@media only screen and (max-width: 380px) {
  .green-form {
    width: 215px;
    margin: 15px auto; }
  .form-opacity button {
    margin: 7px auto; }
  .green-form.forma_games {
    margin: 15px auto; }
  .form-opacity button {
    margin: 7px auto; }
  .bg-h1 h1 {
    font-size: 30px; }
  .form-opacity.form_gray.popup_input input {
    min-width: 250px; }
  .form-text p {
    font-size: 10px; } }

@media only screen and (max-width: 350px) {
  .city {
    left: 0.3%; } }

/* ============================ form css =========================== */
#modal_callback_ok h3, #modal_callback_ok h4 {
  font: 30px RobotoRegular,Arial,sans-serif;
  text-align: center; }

#modal_callback_ok h4 {
  font-weight: 700; }

.button-green {
  display: block;
  width: 100%;
  padding: 9px 0px 9px 0px;
  background-color: #00b37a;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase; }
  .button-green:hover {
    background-color: #458159;
    -webkit-box-shadow: inset 0 0 9px rgba(97, 178, 124, 0.5);
    box-shadow: inset 0 0 9px rgba(97, 178, 124, 0.5); }

.inner {
  max-width: 1240px;
  margin: 0 auto;
  position: relative; }

.allert, .allert_tell {
  position: absolute;
  z-index: 20;
  top: 15px;
  display: block;
  right: 18px;
  height: 20px;
  color: #FF6565;
  cursor: default; }

.er_border, .error {
  border: 1px solid red !important; }

.allert:hover, .allert_tell:hover {
  text-decoration: none; }

.allert span, .allert_tell span {
  display: none;
  opacity: 0;
  padding: 5px;
  margin-left: 5px;
  color: #000;
  font-style: italic;
  font-size: 14px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  min-width: 140px;
  text-align: left; }

.allert:hover span, .allert_tell:hover span {
  border: 1px solid #FF6565;
  background: #fff;
  display: inline;
  position: absolute;
  color: #4e4e4e;
  right: 24px;
  top: -6px;
  opacity: 1; }

.mess_error {
  position: absolute;
  z-index: 10;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  line-break: auto;
  padding: 5px 10px;
  opacity: 1;
  left: 0;
  top: 60px;
  width: 97%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #FF6565; }

.tooltip-inner {
  padding: 3px 8px;
  color: #FFF;
  text-align: center;
  background-color: #FF6565;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-size: 15px; }

.field {
  position: relative;
  float: left; }

.section8 .tooltip-arrow {
  border-bottom-color: #000; }

.section8 .tooltip-inner {
  background-color: #000; }

.jb_input .field {
  width: 100%; }

.jb_input {
  /*   overflow: hidden;*/ }

.jb_input .mess_error {
  position: relative;
  width: 100%;
  padding: 5px 0px;
  top: -5px;
  float: left; }

/* ============================ form css media =========================== */
@media only screen and (max-width: 992px) {
  .allert, .allert_tell {
    top: 0; }
  .field {
    float: none; }
  .mess_error {
    position: relative;
    width: 215px;
    margin: 0 auto;
    top: 0;
    margin-bottom: 15px; } }

@media only screen and (max-width: 320px) {
  #modal_callback_ok {
    height: 200px; }
  .fancybox-inner {
    width: auto !important; }
  .fancybox-close {
    top: 0 !important;
    right: 0 !important; } }
